
**/node_modules/
**/dist/
**/dist-ssr/
**/*.local
*.log


**/design/
**/preview.jpg
**/CLAUDE.md
**/AGENTS.md
**/README-template.md
**/style-guide.md


.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
