@use "./modules//base";
@use "./modules/variables" as *;

html {
    font-family:
        "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background-color: $navy-50;
}

#app {
    margin: auto;
    margin-top: 12px;
    max-width: 672px;
}

.notification {
    max-width: 672px;
    position: relative;

    &__button {
        display: block;
        margin-left: auto;
        padding-block: 0.5rem;
        padding-inline: 0.5rem;
        background-color: $navy-50;

        &:hover {
            transition: 300ms;
            background-color: $navy-100;
        }
    }

    &__menu {
        position: absolute;
        padding-block: 1.5rem;
        padding-inline: 1.25rem;
        right: 0;
        left: 0;
        background-color: $white;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
    }

    &__header-left {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__heading {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 800;
        color: $navy-950;
    }

    &__unread-count {
        color: $gray-600;
        font-weight: 800;
        padding-block: 0.25rem;
        padding-inline: 0.5rem;
        background-color: $blue-950;
        // border-radius: 8px;
        color: $white;

        &:hover {
            color: $gray-500;
        }
    }

    .notification__main-content{
        padding-block: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .notification__article{
        padding-inline: .5rem;
        padding-block: 1rem;
        display: flex;
        gap: 1rem;
        cursor: pointer;
        // align-items: center;

        &--unread{
            background-color: $navy-50;
        }

        &:hover{
            background-color: $blue-100;
        }
    }

    &__profile-image{
        width: 3rem;
        height: 3rem;
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }

    &__read-all{
        color: $gray-500;
        font-weight: 800;

        &:hover{
            color: $blue-950;
        }
    }

    &__text{
        color: $gray-600;

        &--private{
            padding-block: .5rem;
            padding-inline: .5rem;
            border: solid 2px $navy-100;
        }
    }

    &__user-name{
        color: $navy-950;
        font-weight: 800;
    }

    &__unread-dot{
        display: inline-block;
        margin-left: .5rem;
        border-radius: 999px;
        background-color: $red-500;
        width: .75rem;
        height: .75rem;
    }

    &__time{
        color: $gray-500;
    }

    &__post-name{
        font-weight: 800;

        &:hover{
            color: $blue-950;
        }
    }

    &__group-name{
        font-weight: 800;
        
        &:hover{
            color: $blue-950;
        }
    }

    &__media-link{
        width: 3rem;
        height: 3rem;
        margin-left: auto;
    }
}

.hidden{
    display: none;
}

.skeleton-card {
  width: 100%;
  padding: 1rem; 
//   border: 1px solid #93c5fd; 
  border-radius: 0.375rem;
  box-sizing: border-box;
}

.skeleton-content {
  display: flex;
  gap: 1rem; 
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite; 
}

.skeleton-avatar {
  width: 2.5rem; 
  height: 2.5rem;
  border-radius: 9999px; 
  background-color: #e5e7eb; 
  flex-shrink: 0;
}

.skeleton-body {
  flex: 1 1 0%; 
  padding-top: 0.25rem; 
  padding-bottom: 0.25rem;
}

.skeleton-body > * + * {
  margin-top: 1.5rem;
}

.skeleton-lines-group > * + * {
  margin-top: 0.75rem; 
}

.skeleton-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem; /* gap-4 */
}

.span-2 {
  grid-column: span 2 / span 2; 
}

.span-1 {
  grid-column: span 1 / span 1; 
}

.skeleton-line {
  height: 0.5rem; 
  background-color: #e5e7eb;
  border-radius: 0.25rem; 
}

.skeleton-line.full {
  width: 100%;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}