$color-dark-gray-blue:   hsl(217, 19%, 35%); // Very Dark Grayish Blue
$color-desat-dark-blue:  hsl(214, 17%, 51%); // Desaturated Dark Blue
$color-grayish-blue:     hsl(212, 23%, 69%); 
$color-light-gray-blue:  hsl(210, 46%, 95%);

