@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('theme.css');
@import url('layout.css');
@import url('state.css');
@tailwind base;

html {
  font-family: var(--ff);
  font-size: var(--fs-base);
}

body{
  min-height: 100dvh;
}

.result__result {
  padding-block: 1rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0px 0px 24px 24px;
  background-image: var(--background-gradient);
}

.result__result-heading {
  text-align: center;
  color: var(--pale-white);
  font-size: 1rem;
}

.result__score-display {
  aspect-ratio: 1/1;
  margin: auto;
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 50%;
  background-image: var(--circle-gradient);
}

.result__score-display p {
  color: var(--light-pale-white);
  text-align: center;
  font-size: .75rem;
}

.result__score-display span {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 900;
}

.result__score-comparison strong {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: var(--white);
}

.result__score-comparison p{
  text-align: center;
  font-size: 1rem;
  color: var(--light-pale-white);
}

.result__summary{
  padding-inline: 1rem;
  padding-block: 1rem;
}

.result__summary-heading{
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: var(--fs-base);
  color: var(--bg-dark-gray-blue);
}

.result__summary-list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.result__item{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.result__item-test{
  display: flex;
  align-items: center;
  gap: 1rem;
}


.result__item-score span{
  color: rgba(0, 0, 0, 0.6);
}

.result__item-score strong{
  color: black;
}

.result__item--light-red{
  background-color: var(--bg-light-red);
}

.result__item--light-red .result__item-test span{
  color: var(--light-red);
  font-weight: 700;
}

.result__item--orangey-yellow{
  background-color: var(--bg-orangey-yellow);
}

.result__item--orangey-yellow .result__item-test span{
  color: var(--orangey-yellow);
  font-weight: 700;
}

.result__item--green-teal{
  background-color: var(--bg-green-teal);
}

.result__item--green-teal .result__item-test span{
  color: var(--green-teal);
  font-weight: 700;
}

.result__item--cobalt-blue{
  background-color: var(--bg-cobalt-blue);
}

.result__item--cobalt-blue .result__item-test span{
  color: var(--cobalt-blue);
  font-weight: 700;
}

.result__button{
  padding-block: 1rem;
  border-radius: 32px;
  background-color: var(--bg-dark-gray-blue);
  color: var(--white);
  font-weight: 700;
}

.attribution{
  color: black;
  opacity: 0.5;
  text-align: center;
  font-size: 1rem;
}