@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./preflight.css');

:root{
    --bg-dark:hsl(216, 12%, 8%);
    --bg:hsl(213, 19%, 18%);
    
    --text-muted:hsl(217, 12%, 63%);

    --primary: hsl(25, 97%, 53%);
}

html{
    font-family: "Overpass",sans-serif;
    font-size: 15px;
}

body{
    height: 100vh;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-dark);
}

.rating-card{
    max-width: 24rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-block: 2rem;
    padding-inline: 1rem;
    border-radius: 16px;
    background:linear-gradient(to right top,var(--bg-dark),var(--bg));
}

.rating-card__star-icon{
    max-width: 3rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    background-color: var(--bg);
}

.rating-card__heading{
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem;
    color: white;
}

.rating-card__description{
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    color: var(--text-muted);
}

.rating-card__stars-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.rating-card__form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.rating-card__star-btn{
    width: 3rem;
    aspect-ratio: 1/1;
    font-weight: bold;
    border-radius: 999px;
    background-color: var(--bg);
    color: var(--text-muted);
}

.rating-card__star-btn:hover{
    background-color: var(--primary);
    color: black;
}

.rating-card__submit-btn{
    padding: 0.5rem;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--primary);
    border-radius: 999px;
}

.rating-card__submit-btn:hover{
    background-color: white;
    color: black;
}

.rating-card--submitted{
    display: flex;
    flex-direction: column;
}

.rating-card__illustration{
    margin: auto;
}

.rating-card__status{
    margin: auto;
    width: fit-content;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 999px;
    font-size: .875rem;
    text-align: center;
    color: var(--primary);
    background-color: var(--bg);
}

.rating-card__heading--submitted{
    text-align: center;
}

.rating-card__description--submitted{
    padding-inline: 1rem;
    text-align: center;
}

.active-rating-button{
    background-color: white;
    color: black;
}

.active-rating-button:hover{
    background-color: hsl(0, 0%, 80%);
}

.hidden{   
    display: none;
}
