@import url("theme.css");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--ff);
  font-size: var(--fs-base);
}

body {
  height: 100vh;
  padding-inline: 1.5rem;
  padding-top: 5rem;
  background-color: var(--bg-dark);
}

.hero {
  width: min(80rem, 100%);
  background-color: var(--bg);
  border-radius: 8px;
}

.hero__image {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0px 0px;
}

.hero__image-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 8px 8px 0px 0px;
}

.hero__image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0px 0px;
  background: hsla(277, 64%, 61%, 0.4);
}

.hero__image--mobile {
  display: block;
}

.hero__image--desktop {
  display: none;
}

.hero__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero__main {
  padding-block: clamp(3rem, 2.6479rem + 1.5023vw, 4rem);
  padding-inline: clamp(2rem, 1.2958rem + 3.0047vw, 4rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading {
  font: var(--h1);
  color: var(--white-100);
  text-align: center;
}

.heading > span {
  color: var(--accent);
}

.heading-description {
  font: var(--p2);
  color: var(--white-60);
  text-align: center;
}

.hero__stats-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero__stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font: var(--p1);
  color: var(--white-100);
}

.hero__stats-item span {
  font: var(--p2);
  color: var(--white-60);
  text-transform: uppercase;
}

@media (min-width: 48rem) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero {
    display: flex;
    align-items: center;
  }

  .hero__image-wrapper {
    order: 1;
    border-radius: 0px 8px 8px 0px;
  }

  .hero__image-wrapper::before{
    border-radius: 0px 8px 8px 0px;
  }

  .hero__image--mobile {
    display: none;
  }

  .hero__image--desktop {
    display: block;
    border-radius: 0px 8px 8px 0px;
  }

  .heading {
    text-align: start;
  }

  .heading-description {
    text-align: start;
  }

  .hero__main {
    padding-block: 2rem;
    gap: 4rem;
  }

  .hero__header {
    gap: 2rem;
  }

  .hero__stats-list {
    flex-direction: row;
    gap: 4rem;
  }

  .hero__stats-item {
    align-items: start;
  }
}
