@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fs-base: 0.875rem;
  --neutral-900: #171717;
  --neutral-800: #262626;
  --neutral-700: #404040;
  --yellow-500: #eab308;
  --neutral-100: #f5f5f5;

  --ff: "Inter";
  --h2: bold 1.5rem/2rem var(--ff);
  --p1: bold var(--fs-base) / 1.25rem var(--ff);
  --p2: var(--fs-base) / 1.25rem var(--ff);
}

html {
  font-size: var(--fs-base);
}

body {
  background-color: var(--neutral-900);
  padding: 2.5rem;
}

article {
  max-width: 28rem;
  margin: auto;
  padding: 1.25rem;
  background-color: var(--neutral-800);
  border-radius: 12px;

  img {
    max-width: 21rem;
    width: 30%;
    margin: auto;
    border-radius: 999px;
  }

  h2,
  address,
  p {
    text-align: center;
  }

  h2 {
    padding-top: 1.25rem;
    font: var(--h2);
    color: var(--neutral-100);
  }

  address {
    font: var(--p1);
    color: var(--yellow-500);
  }

  p {
    padding-block: 1.25rem;
    font: var(--p2);
    color: var(--neutral-100);
  }

  .social-links-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
      padding: 1rem;
      display: block;
      text-align: center;
      font: var(--p1);
      color: var(--neutral-100);
      border-radius: 8px;
      background-color: var(--neutral-700);

      &:hover {
        background-color: var(--yellow-500);
        color: black;
      }
    }
  }
}
